@media screen and (max-width: 1160px) and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 1160px;
  }
}

/* TABLET */

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

/* MOBILE */

@media screen and (max-width: 480px) {
  .row {
    flex-wrap: wrap;
  }

  .lessons .col {
    width: 100%;
  }

  .steps .col {
    width: 100%;
  }
  .why-us .col {
    width: 100%;
  }
}
